.co-sinopsis-poster p{text-align: justify;}
.co-video{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    border: solid 0px chartreuse;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    background: rgb(0, 0, 0, 0.8);
  	margin-top:20px;
    background: rgb(102, 15, 15);
   padding: 10px 10px;
}
  
.video{
    border: solid 0px chartreuse;
    width: 100%;
    max-width: 720px;
    height: 450px; 
    background: #000000;
  	
}
.co-enlaces{
    display: block;
    border: solid 0px chartreuse;
    position: absolute;
    width: 100%;
    max-width: 720px;
    height: 450px;
   
}
@media screen and (max-width: 800px){
    .co-enlaces{
        width: 80%;
    }
    
}
.co-enlaces button{
    width: 120px;
    height: 40px;
    font-size: 14px;
    background: #b60505;
    color: #fff;
    border-radius: 7px 7px;
    border-style: none;
}
.co-enlaces a button:hover{
    cursor: pointer;
    background: #fff;
    color: #000000;
}
.co-titulo-enlaces{
    width: 100%;
    border: solid 0px chartreuse;
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.co-titulo-enlaces p{
    color: #fff;
    font-size: 20px;
    font-family: arial;
}
@media screen and (max-width: 800px){
   
    .co-titulo-enlaces p{
        color: #fff;
        font-size: 14px;
        font-family: arial;
    }
}
.play-iframe{
    width: 100%;
    max-width: 720px;
    height: 450px; 
    display: none;
}

.modal-coments{
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
    transition: all 0.4s;
    margin-top:20px;
}
._coments{
    width: 100%;
    max-width: 720px;
    height: auto;
}

.co-descarga{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    border: solid 0px chartreuse;
    width: 100%;
    height: auto;
        
}
