@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
* {
	padding:0;
    margin:0;
    border: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
:root{
    --color-uno:rgb(34, 37, 75);
    --color-dos: rgb(55, 59, 105);
}
body{
    background-color: var(--color-dos);
    font-family: 'Poppins', sans-serif;
 
}

/*/////////////////////////////////////cabecera///////////////////////////*/
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-uno);
    position: fixed;
    padding:1rem;
}
.co-header{
    width: 90%;
    height: auto;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 0px #fff;
}
.co-logo{
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 0px #fff;
    width: 20%;
    height: auto;
   
}
.co-logo img{
    width: 100%;
    max-width: 100px;
    height: 30px;
   
}
.co-menu{
    width: 60%;
    display: flex;
    justify-content: left;
    border: solid 0px #fff;
    margin: auto;
}
.co-menu .link-menu{
    list-style: none;
    margin: 7px 7px;
    border: solid 0px #fff;
    padding:0.5rem 1rem;
    border-radius: 50px;
}
.link-menu a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.co-boton-search{
    border: solid 0px #fff;
    width: 20%;
    display: flex;
    justify-content: center;
    padding:0.5rem 1rem;
}
.co-boton-search button{
    width: 140px;
    background-color: var(--color-dos) ;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
    cursor: pointer;
}
.co-boton-search button:hover, .link-menu:hover{
    background-color:var(--color-dos);
}



.co-categorias{
    width: 100%;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.categorias{
    width: 100%;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.link-categorias{
    text-align: center;
    list-style: none;
    margin: 7px 7px;
    border: solid 0px #fff;
    padding:0.5rem 1rem;
    border-radius: 50px;
    border: 2px solid var(--color-dos);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.link-categorias:hover{
    background-color: var(--color-dos);
}

.link-categorias a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-align: center;
    
}

.co-buton-menu{
 display: none;
}
.boton-menu{
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    width: 15%;
    height: auto;
    
}
.boton-menu .bi-list, .boton-menu .bi-x{
    color: #fff;
    font-size: 30px;
    font-family: inherit;
}
.bi-x{
    display: none;
}
.boton-search{
    width: 85%;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    border: solid 0px chartreuse;
}


.boton-search button{
    width: auto;
    background-color: var(--color-dos) ;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
    cursor: pointer;
    padding:0.5rem 1rem;
}
/*/////////////////////////////////////movies///////////////////////////*/
.co-movies{
    width: 100%;
    height: auto;
    display: flex;
    border: solid 0px chartreuse;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}
.movies{
    width: 100%;
    max-width: 265px;
    height: auto;
    border: solid 0px chartreuse;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    
}
.movies h5{
    display: none;
}
.movies img{
    width: 100%;
    
    padding: 3px 3px;
    border-radius: 7px 7px;
}

.contenedor-inp{
    width: 40%;
    height: 100%;
    position: fixed;
    background-color: var(--color-dos);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    right: -100%;
    transition: all 0.4s;
    overflow: auto;
    
}
.cont-inp{
    width: 100%;
    max-width: 450px;
    height: auto;
    position: fixed;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
.contenedor-inp input{
    border: solid 1px #8b1f1f;
    width: 90%;
    height: 47px;
    font-size: 20px;
    text-align: center;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px 3px;
    margin-right: 4px;
}
.contenedor-inp i{
    width: 10%;
    height: 47px;
    font-size: 40px;
    color: #000000;
    border-radius: 3px 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    background: #ffffff;
}
::placeholder{
    
    border: solid 0px #161616;
}


.movies-index-buscador{
    width: 100%;
    max-width: 450px;
    height: auto;
    display: block; 
    margin-top: 70px;
}
.movies-buscador{
    width: 100%;
    height: auto;
    border: solid 0px chartreuse;
    background: rgb(49, 47, 47, 0.3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-top: 3px;
    color: #ffffff;
}

.movies-buscador img{
    width: 100%;
    max-width: 110px;
    padding: 3px 3px;
    border-radius: 7px 7px;
}
.cont-inp .bi-x{
    display: flex;
}
/*/////////////////////////////////////plantillas p-s///////////////////////////*/
.co-main-poster{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 0px chartreuse;
    margin-top: 140px;
}
.poster{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    border: solid 0px chartreuse;
}
.co-poster{
    border: solid 0px chartreuse;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center; 
    margin: 0;
}
.co-img-poster{
    border: solid 0px chartreuse;
    width: 20%;
    
}
.co-img-poster img{
    width: 100%;
    height: auto;
    border-radius: 7px 7px;
}
.co-des-poster{
    width: 70%;
    border: solid 0px chartreuse;
    margin-left: 20px;
}
.co-title-poster{
    width:100%;
    border: solid 0px chartreuse;
    color: #fff;
}
.title{
    font-size: 25px;
}

.co-sinopsis{
    border: solid 0px chartreuse;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    
}
.co-sinopsis-poster{
    width: 70%;
    border: solid 0px chartreuse;
}
.co-sinopsis-poster p{
    color: #fff;
    text-align: justify;
}
.co-title-poster button{
    width: 110px;
    padding: 7px 7px;
    border-radius: 5px 5px;
    margin-top: 7px;
    background: rgb(206, 0, 0);
    cursor: pointer;
    box-shadow: 0px 2px rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
   
}
.co-title-poster button a{
    font-size: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
   
}
.bi-star, .bi-star-half, .bi-star-fill{
    color:#fcff2f;
}
/*/////////////////////////////////////video///////////////////////////*/
.co-video{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    border: solid 0px chartreuse;
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%;
    transition: all 0.4s;
    background: rgb(0, 0, 0, 0.8);
}
.co-buton-x{
    border: solid 0px chartreuse;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    
}
.co-buton-x .bi-x-circle-fill{
    color: #ffffff;
    font-size: 40px;
}
.co-buton-x .bi-x-circle-fill:hover{
    cursor: pointer;
    color: #8b1f1f;
    transform: scale(1.2)
}
.video{
    border: solid 0px chartreuse;
    width: 100%;
    max-width: 720px;
    height: auto;
    background: #000000;
    
}
.play-iframe{
    width: 100%;
    max-width: 720px;
    height: 450px; 
    
}
.co-img-play-1{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid 0px #c4fd09;
    overflow: none;
    position: absolute ;
    background: #000000;
    }
    .co-img-play-1 a{
        border: solid 0px #c4fd09;
        color: #fff;
        font-size: 150px;
        width: 100%;
        text-align: center;
    }
    .co-img-play-1 p{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        color: #fff;
        font-size: 20px;
        width: 100%;
        border: solid 0px #c4fd09;
    }

.contenedor-link{
    border: solid 0px chartreuse;
    width: 100%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.co-nav{
    width: 70%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px;
}
.menu{
    width: 100%;
    display: block;

}
.cont-link{
    width: 40%;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 5px 5px;
    background: #b80c0c;
}

.list{
    width: 100%;
    height: auto;
    border: 0px solid #ffff;
    display: block;
    
    margin-bottom: 3px;
    
}
.submenu-btn .bi-arrow-right-short{
    margin-left: 10px;
    color: #ff3434;
    font-size: 40px;
       
}
.menu__link{
    width: 60%;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.menu__link .bi-circle-fill{
    margin-right: 4px;
    margin-left: 7px;
}
.bi-play-fill, .bi-download{
    font-size: 20px;
    color:  var(--color-uno);
    margin-right: 7px;
    margin-left: 7px;
}

.link--{
    width: 100%;
    height: 60px;
    border: 0px solid #ffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    font-size: 16px;
    border-bottom: 1px solid #333;
    margin: auto;
}

.submenu-btn{
    width: 40%;
    text-align: center;
    padding: 7px 7px;
    background: #ffffff;
    border-radius: 7px 7px;
    color: #000000;
    font-size: 18px;
}
.submenu-btn:hover{
    cursor: pointer;
}
.link-- .download{
    width: 20%;
    display: flex;
    font-size: 16px;
    justify-content: left;
    align-items: center;
    border: 0px solid #ffff;
    text-decoration: none;
    color: #ffffff;
}
.co-recomendadas{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.movies-recomendadas{
    border: solid 0px chartreuse;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.movies-recomendadas .movies{
    width: 70%;
    max-width: 130px;
    height: auto;
    border: solid 0px chartreuse;
}
.movies-recomendadas img{
        width: 100%;
        max-width: 200px;
}
.recientes--{
    border: solid 0px chartreuse;
    width: 70%;
    color: #ffff;
    font-size: 20px;
    margin-top: 30px;
    
}
.co-comentarios{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 0px chartreuse;
}
.comentarios{
    width: 70%;
    background: #ffffff;
    height: auto;
    border: solid 0px chartreuse;
    position: static;
    border-radius: 10px 10px;
    
}



/*/////////////////////////////////////responsive///////////////////////////*/
@media screen and (max-width: 800px){
    .comentarios{
        width: 90%;
       
    }
    .recientes--{
        width: 90%;
    }
    .movies-recomendadas .movies{
        width: 90%;
    }
    .co-nav{
        width: 90%; 
    }
    .cont-link{
        width: 100%;
    }
    .submenu-btn{
        width: 100%;
    }
    header{
        width: 100%;
        display: block;
        padding: 0;
        
    }

    .co-header{
        display: block;
        width: 70%;
        height: 100%;
        position: fixed;
        background-color: var(--color-uno);
        left: -100%;
        transition: all 0.4s;
        overflow: auto;
    }
    .co-logo{
        width: 100%;
        border: solid 0px #fff;
        padding: 10px 10px;
    }
    .co-menu{
        display: flex;
        justify-content: center;
        width: 100%;
        border: solid 0px #fff;
        border-bottom: solid 1px var(--color-dos) ;
        padding: 10px 0px;
       
    }
    .co-menu .link-menu{
        margin: 2px 2px;
        border: solid 0px #fff;
        border-radius: 50px;
        background-color: var(--color-dos);
        
    }
    .link-menu a{
        font-size: 16px;
    }
    .co-boton-search{
        display: none;
    }
    .categorias{
        display: block;
        overflow: auto;
    }
    .co-buton-menu{
        width: 100%;
        display: flex;    
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
    }

    .co-movies{
        margin-top: 70px;
    }
    .movies{
        width: 100%;
        max-width: 135px;
        border: solid 0px chartreuse;
        
    }
    .movies h5{
        display: none;
    }
    .movies img{
        width: 100%;
       
        padding: 3px 3px;
    }
    .contenedor-inp{
        width: 100%;
    }
    .cont-inp{
        width: 100%;
    }
    .co-main-poster{
        margin-top: 50px;
    }
    .co-poster{
        width: 90%;
    }
    .co-img-poster{
        width: 30%;
    }
    .co-des-poster{
        width: 50%;
    }
    .co-title-poster .title--{
        font-size: 12px;
    }
    .title{
        font-size: 20px; 
    }
   
    .co-sinopsis-poster{
        width: 90%;
    }
    .movies-recomendadas{
        width: 100%;
    }
    .movies-recomendadas .movies{

        width: 100%;
        border: solid 0px chartreuse;
        max-width: 125px;
    }
    .movies-recomendadas img{
            width: 100%;
            
    }  
    .co-title-poster button,  .co-title-poster button a{
        width: 100px;
        font-size: 10px;
        margin-top: 4px;
    }

}

@media screen and (max-width: 400px){
    .movies{
        width: 100%;
        max-width: 120px;
        border: solid 0px chartreuse;
        
    } 
    .co-header{
        width: 80%;
    }
    .movies-recomendadas{
        width: 100%;
    }
    .movies-recomendadas .movies{

        width: 100%;
        border: solid 0px chartreuse;
        max-width: 110px;
    }
    .movies-recomendadas img{
            width: 100%;
            
    }  
    .title{
        font-size: 14px; 
    }
    .co-title-poster .title--{
        font-size: 10px;
    }

    
}
